<div class="container">
  <div class="row">

    <% if user_signed_in? && current_user.followers.count > 0 %>
      <%= render partial: 'noteslist_user' %>
    <% else %>
      <%= render partial: 'noteslist_visitor' %>
    <% end %>

  </div>
</div>
