<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>User</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if current_user != user && !user.followed?(current_user)%>
              <tr>
                <td><%= user.email %></td>
                <td>
                  <%= button_to 'Follow', followings_path(user), method: :post %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
