<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <p>Miss us? <%= link_to 'Click here to visit us again!', root_url %> </p>
  </body>
</html>
